<mat-toolbar color="primary" >
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 style="padding-left: 1%;">Weather App</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" >
		<mat-nav-list>
			<mat-list-item  [routerLink]="['']" (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
				<mat-icon mat-list-icon>home</mat-icon>
			</mat-list-item>
      <mat-list-item  [routerLink]="['/weather/weather-list']" (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Weather List</span>
				<mat-icon mat-list-icon>list</mat-icon>
			</mat-list-item>
      <mat-list-item [routerLink]="['/weather/weather-forecast-list']" (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Weather Forecast List</span>
				<mat-icon mat-list-icon>list</mat-icon>
			</mat-list-item>

		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>
	<router-outlet></router-outlet>
</mat-sidenav-container>


